html {
    font-family: Palatino, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1 {
    color: yellow;
    background-color: darkviolet;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px; 
    border-bottom: 0px;
    margin: 50px;
}

