html {
    /* font-family: Palatino, Cambria, Cochin, Georgia, Times, Times New Roman, serif; */
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
}

.heading {
    grid-column: 1/3;
}

.wrapper > div {
    background:#eee;
    padding:1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}


