html {
    /* font-family: Palatino, Cambria, Cochin, Georgia, Times, Times New Roman, serif; */
}

.wrapper {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}

.heading {
    grid-column: 1/4;
}

.wrapper > div {
    background: coral;
    padding:1em;
}

.wrapper > div:nth-child(odd) {
    background: pink;
}


