html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin:auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    margin: auto;
    background: lemonchiffon;
}

.body {
    background: cadetblue;
}

div {
    padding: 2em;
}

#sidebar {
    background:blanchedalmond;
}

.wrapper > div:nth-child(even) {
    background: lightsteelblue;
}

.wrapper > div:nth-child(odd) {
    background: yellow;
}
.wrapper > div:first-child {
    background: burlywood;
}






