html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin:auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: auto;
    background: linen;
}

.body {
    background: cadetblue;
}

div {
    padding: 1em;
}

#sidebar {
    background: bone;
}

#menu {
    background: lightsteelblue;
    padding: 1em;
    width: 100%;
}

#menu > ul {
    list-style-type: none;  
    display: flex;
    // align-items: stretch; /* Default */   
    // justify-content: space-between;
    // width: 100%;
    background: lightsteelblue;
    margin: 0;
    padding: 0;
}

#menu > li {
  display: block;
  // flex: 0 1 auto; /* Default */
  list-style-type: none;
  // background: white;
}

.wrapper > div:nth-child(even) {
    background: lightsteelblue;
}

.wrapper > div:nth-child(odd) {
    background: bone;
}
.wrapper > div:first-child {
    background: linen;
}

#topimage {
    background: tan;
}








