html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    margin: auto;
    padding: 1em;
    background: lightskyblue;
}

.wrapper > div {
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: lightsteelblue;
}



